<!DOCTYPE html>
<html lang="en">
<head>    
    {{>headerlinks}}
</head>
<body>
    <!-- <h1>this is the home page of weathknow</h1> -->
    {{>navbar}}
        
      <div class="container">        
        <div class="row gx-5">        
            <div class="col-md-4 col-12 head-right">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="images/men3.png" class="w-100" alt="...">
                    </div>                    
                  </div>
                </div>
              </div>  
          <div class="col-md-8 col-12 mb-auto head-left">
            <h3>Welcome to WeathKnow</h3>
            <h1>We are the makers of the modern and uptodate <span style="color: teal; font-size: larger;">WeathKnow</span> app</h1>
          
              <a href="/weather"><button type="button" class="btn btn-outline-dark">Know more...</button></a>
          </div>
          
        </div>
      </div>
</body>
</html>