<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    <style>
        .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    {{!-- <img src="../../public/images/error.jpg" alt="The page you are requesting can't be found...."> --}}
    <div class="main">
        <img src="images/error.jpg" alt="">        
        <a href="/"><button type="button" class="btn btn-outline-dark">Go Back</button></a>
    </div>
</body>

</html>